body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to right, #355c7d, #6c5b7b, #c06c84);
  height: 100vh;
}

code {
  font-family: "Poppins", sans-serif;
}

.home__title {
  color: #fff;
  margin-bottom: 2rem;
}
